name: Build

on:
  pull_request:
    branches: [ release-* ]
  push:
    branches: [ release-* ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up JDK 11
        uses: actions/setup-java@v3.0.0
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Build with Maven
        working-directory: ${{github.workspace}}
        run: mvn clean install --batch-mode --update-snapshots -Dlicense.skip -DskipTests -Ddockerfile.skip=false
